@import "../../../../styles/ThemeVariables.scss";
@import "../../../../styles/Utils.scss";

.tableRow {
  display: flex;
  @include align-center-justify-start;
  height: 43px;
  width: 100%;
  border-bottom: 1px solid $secondary-text;
  padding: 0 0 0 45px;
  position: relative;
  transition: all 0.25s ease;

  > :first-child {
    position: absolute;
    left: 10px;
  }

  > :last-child {
    position: absolute;
    right: 10px;
  }

  > span {
    width: 50%;
    color: $header;
    font-size: 16px;
  }

  &:nth-child(odd) {
    background: transparentize($background, 0.6);
  }

  &:has(input:checked) {
    background: $background;
  }
}