@import "../../../styles/ThemeVariables.scss";
@import "../../../styles/Utils.scss";

.loadingSpinner {

  z-index: 99;
  position: relative;
  @include flex-all-center;
  width: calc(100% - 500px);
  height: calc(100% - 500px);

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    color: $green;
    scale: 2;
  }
}

.calories {
  transform: translate(-140px, 80px);
}

.scale {
  opacity: 50%;
}