@import "../../../../styles/ThemeVariables";
@import "../../../../styles/Utils";

.tableHeader {
  margin-top: 10px;
  padding: 0 0 0 45px;
  display: flex;
  height: 30px;
  width: 100%;
  border-bottom: 1px solid $secondary-text;

  > span {
    color: $secondary-text;
    font-size: 16px;
    width: 50%;
    display: block;

    &:last-child {
      margin-left: -5px;
    }
  }

  > button:first-child {
    position: absolute;
    left: 10px;
  }
}