$background: #F5F7F9;
$secondary-background: #FFFFFF;
$secondary-text: #A0B5BB;
$highlight-green: #18A76C;
$green: #6CD2B0;
$yellow: #ECBF3B;
$text: #70768C;
$header: #323747;
$error: #D7593D;
$panel-shadow: 1px 1px 16px 5px rgba(0, 0, 0, 0.03);
$panel-shadow-dark: 1px 1px 16px 5px rgba(0, 0, 0, 0.08);
$transparent-text: transparentize($secondary-text, 0.7);