@import "ThemeVariables";

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin align-start-justify-start {
  align-items: start;
  justify-content: start;
}

@mixin align-start-justify-between {
  align-items: start;
  justify-content: space-between;
}

@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin align-center-justify-start {
  align-items: center;
  justify-content: start;
}

@mixin align-center-justify-end {
  align-items: center;
  justify-content: end;
}

@mixin align-end-justify-start {
  align-items: end;
  justify-content: start;
}

@mixin panel-styles {
  background: $secondary-background;
  box-shadow: $panel-shadow;
  padding: 0 30px 30px 30px;
  border-radius: 8px;
}

@mixin page-content-padding {
  padding: 55px + 40px 40px 40px 182px + 40px;
}