@import "../../../styles/ThemeVariables.scss";
@import "../../../styles/Utils.scss";

.sectionHeader {
  width: 100%;
  height: 58px;
  display: flex;
  @include align-center-justify-start;
  font-size: 18px;
  font-weight: 600;
  color: $text;
  border-bottom: 1px solid $transparent-text;
}