@import "../../../../styles/ThemeVariables.scss";
@import "../../../../styles/Utils.scss";

.progressStat {
  height: 55px;
  @include flex-column;
  @include align-start-justify-between;

  > h6 {
    color: $text;
    font-size: 14px;
    font-weight: 500;
  }
}

.percent {
  display: flex;
  @include align-end-justify-start;
  gap: 7px;

  > h4 {
    color: $header;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: -2px;
  }

  > span {
    font-size: 16px;
    font-weight: 600;

  }
}

.increase {
  > span {
    color: $green;
  }
}

.decrease {
  > span {
    color: $error;

    > i {
      rotate: 90deg;
    }
  }
}