@import "../../../styles/ThemeVariables.scss";
@import "../../../styles/Utils.scss";

.tableSection {
  width: 25%;
  height: 100%;
  @include panel-styles;
  @include flex-column;
  @include align-start-justify-start;
  gap: 20px;
  padding-bottom: 0;
  position: relative;
}

.actionBox {
  display: flex;
  @include align-start-justify-between;
  width: 100%;
  gap: 30px;
}