@import "../../../../styles/ThemeVariables";
@import "../../../../styles/Utils";

.createRecordForm {
  width: 70%;
  align-self: center;
  position: absolute;
  @include panel-styles;
  @include flex-column;
  padding: 0  20px 20px 20px;
  gap: 20px;
  top: 250px;

  button:last-child {
    margin-top: 10px;
  }
}