@import "../../../../styles/ThemeVariables";
@import "../../../../styles/Utils";

.statsCard {
  width: 150px;
  height: 140px;
  background: $secondary-background;
  border-radius: 8px;
  @include flex-column;
  @include align-start-justify-between;
  box-shadow: $panel-shadow;
  padding: 15px 0 15px 15px;
  transition: all 0.35s ease;
  cursor: default;

  > span {
    color: $text;
    font-weight: 500;
    font-size: 14px;
  }

  > h4 {
    color: $header;
    font-weight: 500;
    font-size: 23px;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: $panel-shadow-dark;
  }
}

.iconBox {
  width: 47px;
  height: 47px;
  border-radius: 5px;
  @include flex-all-center;

  > i {
    scale: 1.8;
  }
}

.green {
  background-color: transparentize($highlight-green, .85);

  > i {
    color: $highlight-green;
  }
}

.orange {
  background-color: transparentize(#F9D059, .85);

  > i {
    color: #F9D059;
  }
}

.yellow {
  background-color: transparentize(#F1933C, .85);

  > i {
    color: #F1933C;
  }
}

.blue {
  background-color: transparentize(#4681FE, .85);

  > i {
    color: #4681FE;
  }
}